.menu-bar-main{
    margin: 2rem 0 0 5rem;
    display: flex;
    width: 50%;
    align-items: center;

    /* border: 1px solid blue; */
}

.logo-container{
    /* border: 1px solid red; */
    width:20%;
}

.hornitos-navbar-logo{
    height: 100%;
    width: 100%;
}

.logo-header-title{
    font-size: 3.5vw;
    padding-left: 2rem;
}

@media only screen and (max-width: 480px) {

    .menu-bar-main{
        margin: 2rem 0 0 1rem;
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: space-evenly;
    
    }

    .logo-header-title{
        font-size: 1.5rem;
        padding-left: 0rem;
    }
    
    .logo-container{
        /* border: 1px solid red; */
        width:40%;
    }
    
}