@font-face {
  font-family: 'Knockout';
  src: url('./fonts/Knockout-29JuniorLtweight.otf');
  font-weight: normal;
  font-style: normal;
}

html{
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "Knockout", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #00995B;
  color: #ffffff;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  height: 100vh;
  width: 100vw;
}

/* logic for smartphone screens */
@media only screen and (max-width: 600px) {
}